<<<<<<< HEAD
.install-sec{
background-color: #ffffff;
padding: 30px;
color: #000000;
}
.code{
   float: left; 
   width: fit-content;
}
.button{
    float: right;
    width: fit-content;
}
=======
#install{
	width:100%;
	background-color:#190061;
}

#content{
	color: white;
  	padding :60px 300px;
  	font-family:'Roboto';
  	font-weight:100;
  	font-size: 20px;
  	letter-spacing: 1px;
}

#code{

}

#title{
  	font-family:'Roboto';
  	color:#3500d3;
    letter-spacing: 5px;
  	padding-top:20px;
  	padding-bottom: 20px;
  	font-size:70px;
  	font-weight:200;
  	background-color: black;
  	width:60%;
    margin:auto;

}
>>>>>>> 99358a015493ec259a57093c62b6c635bd02cc83
