#main{
    background: #190061;
    background-size: 400% 400%;
    padding-top: 30px;
    padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

    #con3{
        font-family:'Roboto';
        font-weight:100;
        font-size: 30px;
        letter-spacing: 1px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 20px;
        color: #ffffff;
        text-align: center;
  }

  #text_field{
    width: calc(160px + 20vmin);
    height: 40px;
    background-color: Transparent;
    font-size: 16px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    cursor: white;
    color: white;
    display: inline;
    animation-play-state: paused;
    animation: fadeIn 3s linear forwards;
    -webkit-animation: fadeIn 3s linear forwards;
  }
  #text_button{
    display: inline;
    width: calc(110px - 2vmin);
    height: 47px;
    color: white;
    border-style: solid;
    background-color: Transparent;
    font-size: 16px;
    border-color: white;
    border-width: 3px;
    font-style:bold;
    animation: fadeIn 3s linear forwards;
    -webkit-animation: fadeIn 3s linear forwards;
  }
  