#net {
  height: 500px;
  width: 100%;
}

#title1 {
  font-family: 'Roboto';
  color: white;
  padding-left:  30px;
  padding-top: 220px;
  font-size: 60px;
  font-weight: 400;
  margin: auto;
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

}

#sub-title {
  color: #ffffff;
  padding-left:  30px;
  padding-right: 20px;
  font-family: 'Roboto';
  font-weight: 300;
  -webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

}
