#logo{
    height: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 15px;
}


#main-title{
    font-size: 50px;
    color: #0C0032;
    font-family: 'Patua One';
    
}

#About_Button{
    font-size: 17px;
    color: #0C0032;
    font-family: 'Roboto'; 
}
#Install_Button{
    font-size: 17px;
    color: #0C0032;
    font-family: 'Roboto'; 
}
#Newsletter_Button{
    font-size: 17px;
    color: #0C0032;
    font-family: 'Roboto'; 
}
#Contact_Button{
    font-size: 17px;
    color: #0C0032;
    font-family: 'Roboto'; 
}